@model Grinderofl.GenericSearch.Sample.Features.Customers.CustomerFreeTextSearch

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="form-group">
        <p class="h6">Query</p>
        <label asp-for="Term"
               class="col-form-label col-form-label-sm"></label>
        <input type="text"
               asp-for="Term"
               class="form-control form-control-sm" />
    </div>
</div>