@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1>Welcome to Grinderofl.GenericSearch Northwind Sample</h1>
                <p>To see a sample, click on a link below</p>
            </div>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-6">
            <a asp-controller="Customers" asp-action="Index"><h5>Customers</h5></a>
        </div>
        <div class="col-6">
            <a asp-controller="Employees" asp-action="Index"><h5>Employees</h5></a>
        </div>
    </div>

</div>



