@model Grinderofl.GenericSearch.Searches.SingleTextOptionSearch

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="form-group">
        <p class="h6">@Html.GetDisplayNameForModel()</p>
        <label class="col-form-label col-form-label-sm"></label>
        <select asp-for="Is" asp-items="@Html.GetSelectListForModel()" class="form-control form-control-sm">
            <option value=""></option>
        </select>
    </div>
</div>