@using GenericSearch.Searches
@model GenericSearch.Searches.DateSearch

<div class="card-body py-2">
    <h6 class="card-subtitle mb-2 text-muted">@Html.GetDisplayNameForModel()</h6>
    <div class="input-group input-group-sm mb-1">
        <select class="form-control" asp-for="Is" asp-items="@Html.GetEnumSelectList<DateSearch.Comparer>()"></select>
    </div>
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <label asp-for="Term1" class="input-group-text"></label>
        </div>
        <input type="date" asp-for="Term1" class="form-control"/>
    </div>
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <label asp-for="Term2" class="input-group-text"></label>
        </div>
        <input type="date" asp-for="Term2" class="form-control"/>
    </div>
</div>