@model GenericSearch.Searches.SingleTextOptionSearch

<div class="card-body py-2">
    <h6 class="card-subtitle mb-2 text-muted">@Html.GetDisplayNameForModel()</h6>
    <select asp-for="Is" class="form-control form-control-sm" asp-items="@Html.GetSelectListForModel()">
        <option value=""></option>
    </select>
</div>
