@using GenericSearch.Searches
@model GenericSearch.Searches.TextSearch

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="form-group">
        <p class="h6">@Html.GetDisplayNameForModel()</p>

        <label asp-for="Is" 
               class="col-form-label col-form-label-sm">Comparer</label>

        <select asp-for="Is" 
                asp-items="@Html.GetEnumSelectList<TextSearch.Comparer>()" 
                class="form-control form-control-sm"></select>

        <label asp-for="Term" 
               class="col-form-label col-form-label-sm"></label>

        <input type="text" 
               asp-for="Term" 
               class="form-control form-control-sm" />
    </div>
</div>
