@{
    Layout = "_Layout.Base";
}

<partial name="_Navigation.Admin" />
<main role="main" class="container-fluid p-5">
    @RenderBody()
</main>

@section Scripts
{
    @RenderSection("Scripts", false)
}
